* {
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    line-height: 1.4;
    margin: 40px auto;
    width: 825px;
    border: 3.5px solid #dd63c9;
}

.product {

    display: grid;

    border: 3.5px solid #000;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.product::after {
    position: absolute;
    top: -15px;
    left: -40px;
    content: "SALE";
    color: #fff;
    text-align: center;
    width: 80px;
    height: 30px;
    background-color: rgb(224, 18, 18);
}
.product-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #a59a9a56;
}

.price {
    font-size: 24px;
}

.shipping {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #867c7cfa;
    /* margin-bottom: 20px; */
}

.more-info {
    color: #000;
    display: inline-block;
    margin-bottom: 20px;
}

.colors {
    display: grid;
    grid-template-columns: repeat(6, 20px);
    height: 20px;
    justify-content: start;
    column-gap: 10px;
}
.color-blue {
    background-color: blue;
}
.color-red {
    background-color: red;
}
.color-yellow {
    background-color: yellow;
}
.color-green {
    background-color: green;
}
.color-brown {
    background-color: brown;
}
.color-black {
    background-color: #000;
}

.details-title {
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: 8px;
}

/* ul.details-list {
    display: flex;
    flex-direction: column;
} */

ul.details-list li{
    list-style-position: inside;
    padding-left: 5px;
    margin-bottom: 5px;
}

.add-cart {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #000;
    width: 100%;
    border-width: 0;
    height: 40px;
}

.product-content {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.product-content > img {
    width: 100%;
}
.intro-container, .details-container {
    margin-top: 30px;    
}

.shipping-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.product-description {
    text-align: justify;
}
